-i https://pypi.org/simple
chromadb==0.5.5; python_version >= '3.8'
faiss-cpu==1.8.0.post1; python_version >= '3.8'
flask==3.0.3; python_version >= '3.8'
flask-wtf==1.2.1; python_version >= '3.8'
gunicorn==22.0.0; python_version >= '3.7'
langchain==0.2.11; python_version < '4.0' and python_full_version >= '3.8.1'
langchain-chroma==0.1.2; python_version < '4' and python_full_version >= '3.8.1'
langchain-community==0.2.10; python_version < '4.0' and python_full_version >= '3.8.1'
langchain-openai==0.1.17; python_version < '4.0' and python_full_version >= '3.8.1'
onnxruntime==1.18.1
pandas==2.2.2; python_version >= '3.9'
pyarrow==17.0.0; python_version >= '3.8'
pypdf==4.3.1; python_version >= '3.6'
pypdf2==3.0.1; python_version >= '3.6'
python-dotenv==1.0.1; python_version >= '3.8'
scikit-learn==1.5.1; python_version >= '3.9'
wtforms==3.1.2; python_version >= '3.8'
