flask==2.2.3
openai==0.27.2
python-dotenv==0.21.1
gunicorn==20.1.0
speechrecognition==3.9.0
soundfile==0.12.1
pydub==0.25.1



Flask~=2.3
File "/tmp/venv/lib/python3.10/site-packages/langchain_community/vectorstores/sklearn.py", line 353, in from_texts
vs = SKLearnVectorStore(embedding, persist_path=persist_path, **kwargs)
File "/tmp/venv/lib/python3.10/site-packages/langchain_community/vectorstores/sklearn.py", line 142, in __init__
sklearn_neighbors = guard_import("sklearn.neighbors", pip_name="scikit-learn")
File "/tmp/venv/lib/python3.10/site-packages/langchain_core/utils/utils.py", line 132, in guard_import
raise ImportError(
ImportError: Could not import sklearn.neighbors python package. Please install it with `pip install scikit-learn`.
python -c "from sklearn.neighbors import NearestNeighbors"
missing libz.so.1 library.
from langchain_chroma import Chroma
libstdc++.so.6
import faiss
libz.so.1