<footer class="content-footer footer bg-footer-theme">
    <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
        <div class="mb-2 mb-md-0">
            Ma Chung University ©
            <script>
                document.write(new Date().getFullYear());
            </script>
            , made with <a class="footer-link fw-bolder" href="https://themeselection.com" target="_blank">ThemeSelection</a>
        </div>
        <!--<div>
            <a class="footer-link me-4" href="https://themeselection.com/license/" target="_blank">License</a>
            <a class="footer-link me-4" href="https://themeselection.com/" target="_blank">More Themes</a>

            <a
                    class="footer-link me-4"
                    href="https://themeselection.com/demo/sneat-bootstrap-html-admin-template/documentation/"
                    target="_blank"
            >Documentation</a
            >

            <a
                    class="footer-link me-4"
                    href="https://github.com/themeselection/sneat-html-admin-template-free/issues"
                    target="_blank"
            >Support</a
            >
        </div>-->
    </div>
</footer>