{% extends 'layout.html' %}
{% block styles %}
<link href="../static/css/chat.css" rel="stylesheet"/>
{% endblock styles %}
{% block title %}Chat{% endblock %}
{% block nav_title %}Chat{% endblock nav_title %}

{% block content %}
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row clearfix">
        <div class="col-lg-12">
            <div class="card chat">
                <div class="chat-header clearfix">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex overflow-hidden align-items-center">
                            <div class="flex-shrink-0 avatar avatar-online avatar-xl">
                                <img alt="Avatar" class="rounded-circle"
                                     src="https://cdn.glitch.global/5bad605e-7b7c-4a65-b6fa-022756b410ff/ai-me-4-0.png?v=1721273881457">
                            </div>
                            <div class="chat-contact-info flex-grow-1 ms-4">
                                <h6 class="m-0 fw-normal">OwO</h6>
                                <small class="user-status text-body">Quanta Quire's Bot</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="chat-box" class="chat-history">
                    <ul class="m-b-0">
                        <!--<li class="clearfix mb-3">
                            <div class="d-flex overflow-hidden">
                                <div class="user-avatar flex-shrink-0 me-4">
                                    <div class="avatar avatar-md">
                                        <img alt="Avatar" class="rounded-circle"
                                             src="https://cdn.glitch.global/5bad605e-7b7c-4a65-b6fa-022756b410ff/ai-me-4-0.png?v=1721273881457">
                                    </div>
                                </div>
                                <div class="chat-message-wrapper flex-grow-1">
                                    <div class="message other-message py-2 px-3 text-start">
                                        <p class="mb-0">
                                            Do you have design files for sneat? Do you have design files for sneat?
                                            Do you have design files for sneat? Do you have design files for sneat?
                                            Do you have design files for sneat? Do you have design files for sneat?
                                        </p>
                                    </div>
                                    <div class="text-muted">
                                        <small>10:15 AM</small>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="clearfix mb-3">
                            <div class="d-flex overflow-hidden">
                                <div class="flex-grow-1 w-50">
                                    <div class="message my-message float-right bg-primary text-white py-2 px-3 text-end">
                                        <p class="mb-0 text-break">Yes that's correct
                                            documentation file, Design files are included with the template.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="text-end text-muted">
                                <small>10:15 AM</small>
                            </div>
                        </li>-->
                    </ul>
                </div>
                <div class="chat-message clearfix shadow-xs">
                    <form id="chat-form"
                          class="form-send-message d-flex justify-content-between align-items-center ">
                        <input id="message" class="form-control me-4"
                               placeholder="Ketik pesan Anda di sini...">
                        <div class="message-actions d-flex align-items-center">
                            <button class="btn btn-primary d-flex send-msg-btn" type="submit">
                                <span class="align-middle d-md-inline-block d-none">Kirim</span>
                                <i class="bx bx-paper-plane bx-sm ms-md-2 ms-0"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}


{% block scripts %}
<script>
    $(document).ready(function(){
        const chat_box = $('#chat-box ul');
        const input = $('#message');
        $('#chat-form').on('submit', function(e){
            e.preventDefault();
            const userMessage = input.val();
            chat_box.append('<li class="clearfix mb-3 user-message"><div class="d-flex overflow-hidden"><div class="chat-message-wrapper flex-grow-1"><div class="message my-message float-right bg-primary text-white py-2 px-3 text-end"><p class="mb-0 text-break">' + userMessage + '</p></div></div></div></li>');
            input.val('');

            chat_box.append('<li class="clearfix mb-3 bot-message"><div class="d-flex overflow-hidden"><div class="user-avatar flex-shrink-0 me-4"><div class="avatar avatar-md"><img alt="Avatar" class="rounded-circle" src="https://cdn.glitch.global/5bad605e-7b7c-4a65-b6fa-022756b410ff/ai-me-4-0.png?v=1721273881457"></div></div><div class="chat-message-wrapper flex-grow-1"><div class="message other-message py-2 px-3 text-start"><p class="mb-0"> Do you have design files for sneat? Do you have design files for sneat? Do you have design files for sneat? Do you have design files for sneat? Do you have design files for sneat? Do you have design files for sneat? Do you have design files for sneat? Do you have design files for sneat? </p></div></div></div></li>');

            $('#chat-box').scrollTop(chat_box[0].scrollHeight);

            /*$.ajax({
                url: "{{ url_for('webchat.web_chatting') }}",
                method: 'POST',
                data: JSON.stringify({ message: userMessage }),
                contentType: "application/json",
                dataType: 'json',
                success: function(response){
                    $('#chat-box ul').append('<li class="clearfix mb-3 bot-message"><div class="d-flex overflow-hidden"><div class="user-avatar flex-shrink-0 me-4"><div class="avatar avatar-md"><img alt="Avatar" class="rounded-circle" src="https://cdn.glitch.global/5bad605e-7b7c-4a65-b6fa-022756b410ff/ai-me-4-0.png?v=1721273881457"></div></div><div class="chat-message-wrapper flex-grow-1"><div class="message other-message py-2 px-3"><p class="mb-0">' + response.response + '</p></div></div></div></li>');
                    $('#chat-box').scrollTop($('#chat-box')[0].scrollHeight);
                },
                error: function(xhr, status, error){
                    console.error("Error: " + error);
                    console.error("Status: " + status);
                    console.error("Response: " + xhr.responseText);
                    alert("An error occurred. Please try again.");
                }
            });*/
        });
    });
</script>
{% endblock scripts %}