{% extends 'layout.html' %}
{% block title %}Dokumen{% endblock %}
{% block nav_title %}Perbarui Dokumen{% endblock nav_title %}
{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item"><a href="#">Aplikasi</a></li>
        <li class="breadcrumb-item"><a href="#">Pengaturan</a></li>
        <li aria-current="page" class="breadcrumb-item active">Dokumen</li>
    </ol>
</nav>
{% endblock breadcrumb %}

{% block content %}
<div class="container-xxl flex-grow-1 container-p-y">

    <div class="row invoice-edit">
        <!-- Invoice Edit-->
        <div class="col-lg-9 col-12 mb-lg-0 mb-6">
            <div class="card p-sm-12 p-6">
                <div class="card-body mt-3">
                    <div class="row px-5">
                        <div class="col-md-7 mb-md-0 mb-6 ps-0">
                            <div class="d-flex svg-illustration mb-6 gap-2 align-items-center">
                                <span class="app-brand-text demo fw-bold ms-50">Berkas Dokumen</span>
                            </div>
                            <p class="mb-2">
                                Halaman ini dibuat untuk update dokumen.
                                Setiap dokumen yang diunggah harus berformat .pdf
                            </p>
                        </div>
                        <div class="col-md-5 col-8 pe-0 ps-0 ps-md-2">
                            <div class="d-md-flex align-items-center justify-content-end">
                                {% if pdf_file %}
                                <a href="{{ url_for('website.document_download', filename=pdf_file) }}"
                                   target="_blank">
                                    <img alt="" class="d-block"
                                         src="https://cdn.glitch.global/5bad605e-7b7c-4a65-b6fa-022756b410ff/document.png?v=1721165679064"
                                         width="150">
                                </a>
                                {% else %}
                                <p class="px-2 py-1 border border-info rounded text-end">Belum ada dokumen yang
                                    diunggah.</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                {% if pdf_file %}
                <hr class="mb-6 mt-0">
                <div class="card-body mb-3">
                    <div class="row px-5">
                        <div class="col-md-6 col-sm-5 col-12 mb-sm-0 mb-6">
                            <h6>Informasi Dokumen:</h6>
                            <p class="mb-1">{{ pdf_file }}</p>
                            <p class="mb-0">Halaman berjumlah {{ pdf_pages }}</p>
                        </div>
                        <div class="col-md-6 col-sm-7">
                            <h6>Detail:</h6>
                            <table>
                                <tbody>
                                <tr>
                                    <td class="pe-4">Vectorstore:</td>
                                    <td>Chroma</td>
                                </tr>
                                <tr>
                                    <td class="pe-4">Split size:</td>
                                    <td>{{ size }}</td>
                                </tr>
                                <tr>
                                    <td class="pe-4">Overlap:</td>
                                    <td>{{ overlap }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                {% endif %}

            </div>
        </div>
        <!-- /Invoice Edit-->

        <!-- Invoice Actions -->
        <div class="col-lg-3 col-12">
            <div class="card mb-6">
                <div class="card-body">

                    <form enctype="multipart/form-data" method="post">
                        {{ form.hidden_tag() }}
                        <div class="form-group">
                            {{ form.csrf_token }}
                            {{ form.document.label(class="form-label") }}
                            <p class="px-1 mb-0" id="file-name"></p>
                            {% if form.document.errors %}
                            <span class="text-danger">{{ form.document.errors[0] }}</span>
                            {% endif %}
                            <label class="btn btn-info d-grid w-100 mb-4 mt-1" for="file" tabindex="0" disabled>
                                <span class="d-flex align-items-center justify-content-center text-nowrap">Pilih Dokumen</span>
                                <i class="bx bx-upload bx-sm me-2"></i>
                                {{ form.document(hidden="", accept="application/pdf", id="file") }}
                            </label>
                        </div>


                        <button class="btn btn-primary d-grid w-100" type="submit" disabled>
          <span class="d-flex align-items-center justify-content-center text-nowrap">
            <i class="bx bx-paper-plane bx-sm me-2"></i>Unggah</span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <!-- /Invoice Actions -->
    </div>

</div>
{% endblock content %}

{% block scripts %}
<script>
    // Function to display selected file name
    document.querySelector('#file').addEventListener('change', function () {
        const fileInput = document.getElementById('file');
        const fileNameContainer = document.getElementById('file-name');
        fileNameContainer.textContent = fileInput.files[0].name;
    });
</script>
{% endblock scripts %}